body
{
  background-color: #f5f9fc !important;
}


//header start
.header
{
  background-image:url(./Media/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .clr
  {
    color: white;
  }
  .logo
  {
    width: 11rem;
  }
}
//header end

//hero start

@media screen and (max-width:600px) 
{
  .image
  {
    display: none;
  }
}
.hero
{
  
  background-image: url(./Media/bg.png);
  background-repeat: no-repeat;
  background-position: cover;

  color: white;
  h1
  {
    margin-top: 10rem  
  }
  .btn2
  {
    width: 30%;
    height: auto;
    margin-bottom: 10rem !important;
  }
  .image
  {
    margin-top: 10rem;
    margin-bottom: 10rem;
    width: 80%;
  }
}
.logoImg
  {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 60% !important;
  }
//hero end

//card1 start
.card1
{
  align-content: center;
  .cardImg
  {
    width: 30%;
    margin-bottom: 10px;
  }
  .imgLogo
  {
    margin-top: 80px;
    margin-bottom: 100px;
    width: 60%;
  }
}



//youtub video start
.ytvideo
{
  .ytvid
  {
    margin-top: 40px;
    width: 80%;
    height: 30rem;
  }
}
//end


//Platform start
.Platform
{
  background-image: url(./Media/bg-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h1
  {
    margin-top: 50px;
  }
  h4
  {
    margin-top: 30px;
  }
  .img
  {
    width: 50%;
    margin-top: 90px;
    margin-bottom: 5rem;
  }
}
//Platform end

//pswap start
.pswap
{
  .check
  {

    padding: 20px;
  }
  h1
  {
    margin-top: 50px;
    margin-bottom: 50px;
    .rd
    {
      color: red;
    }
  }
  .cardImg
  {
    
    width: 30%;
    margin-bottom: 10px;
  }
}
//

//comparsion started
.comparsion
{
  .head{
    width: 250px;
  }
  tr{
    height: 50px;
  }
  li
  {
    padding: 30px;
  }
  .thimg
  {
    padding-top: 50px;
    width: 40%;
  }
  .checkmark
  {
    color: #00B478;
  }
  .cred
  {
    color :#bb0613;
  }
}
//end

//roadmap start
.roadmap
{
  h1{
    margin-top: 50px;
  }
  .rd{
    color: red;
  }
}
